@charset "UTF-8";

body {
	font-family: "나눔바른고딕";
}
#new_release { /* 신상품 */
	width: 100%;
	height: 500px;
	display: table;
}
.title {		/* 타이틀 */
	font-size: 24px;
	font-weight: bold;
}

#new_release_img {
	z-index: 1;
}

#new_release_slider {
	list-style: none;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

#new_release_slider:after {
	content: '';
	display: block;
	clear: both;
}

#new_release_slider li {
	position: absolute;
	width: 97%;
	height: 500px;
	opacity: 0;
}

#new_release_slider li div {
	width: 100%;
	height: 100%;
	background-size: cover;
	position: relative;
}

.btn {
	text-align: center;
}

.btn button {
	margin-top: 10px;
	border: 1px solid #ccc;
	background-color: #fff;
	color: #666;
	font-size: 1.5rem;
	cursor: pointer;
}
#notice {
	width: 100%;
	text-align: center;
}
#first_notice {
	width: 700px;
	background: #ccc;
	margin: auto;
}
#recommend { /* 추천상품 */
	display: table;
	margin: auto;
}

#recommend_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.recommend_item {
	display: inline-block;
	float: left;
	margin: 0 30px;
}

#best { /* 인기상품 */
	width: 1350px;
	margin: auto;
}

#best_inner {
	display: table-cell;
	text-align: center;
}

#best_item {
	width: 1350px;
	height: 500px;
}

.best_content {
	width: 60%;
	height: 500px;
	text-align: left;
	float: left;
}

.best_img {
	width: 40%;
	float: left;
}