@charset "UTF-8";
#itemList_body {
	width: 100%;
	background: #fff;
	padding: 0;
	height: 100%;
	font-family: 'Trebuchet MS', 'NanumSquareAcb', serif;
}
#list_itemList_container {
	width: 1350px;
	margin: 0 auto;
}
#itemList_aside {
	width: 200px;
	height: 50%;
	float: left;
	padding: 10px;
	left: 0;
	right: 0;
}
#itemList_main {
	width: 900px;
	height: 60%;
	padding: 0;
}

.container1 {
	width: 100%;
}

.category_bar > li {
	list-style-type: none;
	display: inline;
	outline: 0px;
	font-size: 20px;
	padding: 5px;
}
.itemList_menu > li {
	list-style-type: none;
	display: inline;
	outline: 0px;
	margin-left: 30px;
	text-align: center;
}
.itemList_filter {
	text-align: right;
}
.filter_bar > * {
	list-style-type: none;
	display: inline;
	outline: 0px;
	margin-left: 30px;
	text-decoration: none;
	color: black;
}
.filter_bar > new_list {
	list-style-type: none;
	display: inline;
	outline: 0px;
	margin-left: 30px;
	text-decoration: none;
	color: black;
}

.itemList_category a {
	text-decoration: none;
	color: #262222;
	font-size: 30px;
}
.itemList_menu a {
	text-decoration: none;
	color: #262222;
}
.filter_bar a {
	text-decoration: none;
	color: #262222;
}
.filtering button {
	text-decoration: none;
	color: #262222;
}
.itemList_img {
	width: 200px;
	height: 200px;
}

.container2 {
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	text-align: center;
}
.filtering {
	background: ghostWhite;
	text-decoration: none;
	color: black;
}
#itemView_main {
	width: 900px;
	margin: auto;
}
.container3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, minmax(100px, auto));
	row-gap: 50px;
	column-gap: 50px;
	width: 800px;
	margin: 30px auto;
}
button {
	width: 200px;
	margin: 0 auto;
	padding: .8em .5em;
	border: 0px solid #999;
	font-family: inherit;
	background: url('arrow.jpg') no-repeat 95% 50%;
	border-radius: 0px;
	appearance: none;
	text-align: center;
}

.button-group li {
	margin: 0 auto;
	list-style-type: none;
}

#rank_list {
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.item_info {
	padding: 5px;
	width: 100%;
}
.itemList_table {
	width: 410px;
	height: 410px;
	padding: 10px;
	border-spacing: 0 10px;
	margin: 0 auto;
}