@charset "UTF-8";
#order_info_body {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: 'Trebuchet MS', 'NanumSquareAcb', serif;
}
#order_buynow {
	width: 750px;
	margin: auto;
}
.order_buynow_aside {
	width: 750px;
	height: 350px;
	/*margin: 10px auto;*/
	border: 1px solid #949494;
	border-radius: 10px;
	float: left;
}
.order_buynow_main {	/* 회원정보 + 결제버튼 */
	width: 300px;
	height: 400px;
	padding: 10px 20px;
	position: fixed;
	top: 220px;
	right: 3%;
	border: 1px solid #949494;
	border-radius: 10px;
	background: #fff;
}
.order {
	width: 1350px;	
	align-content: center;
	margin: 70px auto;
	height: 400px;
}
.order_buynow_img {
	float: left;
	margin: 20px;	
}
.order_buynow_item_info {
	float: left;
}
.user_label {
	float: left;
	text-decoration: underline;
	text-underline-position: under;
}
.user_info {
	float: right;
}
.item_info {
	margin-top: 20px;
	float: right;
}
.order_cart_aside {
	width: 750px;
	height: 350px;
	border: 1px solid #949494;
	border-radius: 10px;
	float: left;
	margin-bottom: 20px;
}