@charset "UTF-8";
body {
	margin-top: 100px;
	font-family: 'Trebuchet MS', serif;
	line-height: 1.6;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.allFindMain {
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 500px;
	height: 800px;
}

.container {
	width: 500px;
	margin: 0 auto;
}

.insert_id_pw {
	text-align: left;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}

input {
	border: none;
	font-size: 15px;
}

.label-input__input {
	resize: none;
	width: 98%;
	height: 45px;
	font-size: 15px;
}

